@use '@/shared/styles/variables' as *;

.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: $spacing-xl $spacing-md;

  @media (min-width: $breakpoint-md) {
    padding: $spacing-2xl $spacing-xl;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-sm;
  margin-bottom: $spacing-2xl;
  text-align: center;
}

.logo {
  width: 50%;
  height: auto;
  filter: brightness(100);
}

.heading {
  font-weight: 700;
  color: $color-text-primary;

  @media (min-width: $breakpoint-md) {
    font-size: 3rem;
  }
}

.subheading {
  margin-top: 50px;
  color: $color-text-secondary;
  // font-weight: normal;
  letter-spacing: 2.5px;
  
}