@use '@/shared/styles/variables' as *;

.section {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}

.title {
  font-weight: 700;
  letter-spacing: $spacing-xs;
  color: $color-text-primary;
  margin: $spacing-2xl 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-lg;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $breakpoint-xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}